@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KoPubDotumMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "KoPubDotumMedium";
}

h1 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.header {
  height: 50px;
  color: white;
  background-color: rgb(190, 176, 148);
}

.header__logo {
  font-size: 32px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.options {
  text-align: center;
  margin: 10px 0;
}

.options__btn {
  background-color: rgb(150, 139, 118);
  border: 0;
  color: white;
  padding: 8px;
  font-family: inherit;
}

.todos {
  background-color: whitesmoke;
  display: flex;
  flex-grow: 1;
  font-family: "GowunDodum-Regular";
}
/* 
.todos__today,
.todos__tomorrow {
  width: 100%;
} */

.todos__today,
.todos__tomorrow {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0px;
  visibility: hidden;
  transition: all ease-in 300ms;
}

.todos__items {
  flex-grow: 1;
  width: 100%;
  padding: 0 20px;
}

.todos__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px 0;
  margin: 5px 0;
}

.todos__delete {
  background-color: transparent;
}

.todos_input {
  width: 100%;
  border: 0;
  outline: 0;
}

.footer {
  color: white;
  background-color: rgb(190, 176, 148);
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.todos__add-wrapper {
  display: flex;
  width: 100%;
  padding: 10px;
}

.todos__input {
  width: 100%;
  border: 0;
  outline: 0;
  height: 40px;
  border-radius: 30px;
  padding: 10px;
  font-family: inherit;
  font-size: 15px;
}

.todos__add-btn {
  background-color: transparent;
  margin-left: 10px;
  font-size: 20px;
}

.todo.open {
  width: 100%;
  visibility: visible;
  transition: all ease-in 300ms;
}
