:root {
  /* Color */
  --white-color: #ffffff;
  --black-color: #333a3f;
  --blue-color: #045fd4;
  --grey-dark-color: #868e97;
  --grey-light-color: #b6bcc0;

  /* Size */
  --post-width: 320px;
  --post-height: 377px;
  --max-width: 1024px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.header {
  width: var(--max-width);
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black-color);
}

.header__title {
  font-size: 30px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__search {
  margin-right: 12px;
  font-size: 30px;
}

.header__add-post {
  border: 1px solid var(--black-color);
  border-radius: 50px;
  font-size: 16px;
  padding: 0 15px;
  background-color: var(--white-color);
  height: 32px;
  margin-right: 20px;
  font-weight: bold;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  margin-right: 4px;
}

.header__profile span {
  color: var(--grey-dark-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: var(--max-width);
  height: 48px;
  margin-top: 24px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}

.nav__trending,
.nav__new,
.nav__period {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__trending,
.nav__new {
  font-size: 1.125rem;
  width: 112px;
  height: 100%;
}

.nav__trending > span,
.nav__new > span {
  margin-right: 8px;
}

.nav__trending {
  color: var(--black-color);
  border-bottom: 3px solid var(--black-color);
}

.nav__new {
  color: var(--grey-dark-color);
}

.nav__period {
  box-shadow: 0 0 4px 2px rgb(233, 233, 233);
  background-color: var(--white-color);
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  width: 96px;
  height: 32px;
  border-radius: 5px;
}

.nav__period span {
  font-size: 15px;
}

.nav__more {
  color: var(--grey-dark-color);
}
