:root {
  /* Color */
  --white-color: #ffffff;
  --black-color: #333a3f;
  --blue-color: #045fd4;
  --grey-dark-color: #676d74;
  --grey-light-color: #96989b;

  /* Size */
  --post-width: 320px;
  --post-height: 377px;
  --max-width: 1024px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.header {
  width: var(--max-width);
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black-color);
}

.header__title {
  font-size: 30px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__search {
  margin-right: 10px;
  font-size: 30px;
  border-radius: 50px;
  padding: 6px;
}

.header__search:hover {
  background-color: #f0f0f0;
}

.header__add-post {
  border: 1px solid var(--black-color);
  border-radius: 50px;
  font-size: 16px;
  padding: 0 15px;
  background-color: var(--white-color);
  height: 32px;
  margin-right: 20px;
  font-weight: bold;
}

.header__add-post:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  margin-right: 4px;
}

.header__profile span {
  color: var(--grey-dark-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: var(--max-width);
  height: 48px;
  margin-top: 24px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}

.nav__trending,
.nav__new,
.nav__period {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__trending,
.nav__new {
  font-size: 1.125rem;
  width: 112px;
  height: 100%;
}

.nav__trending > span,
.nav__new > span {
  margin-right: 8px;
}

.nav__trending {
  color: var(--black-color);
  border-bottom: 3px solid var(--black-color);
}

.nav__new {
  color: var(--grey-dark-color);
}

.nav__period {
  box-shadow: 0 0 4px 2px rgb(233, 233, 233);
  background-color: var(--white-color);
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  width: 96px;
  height: 32px;
  border-radius: 5px;
}

.nav__period:hover {
  color: var(--grey-dark-color);
}

.nav__period span {
  font-size: 15px;
}

.nav__more {
  color: var(--grey-dark-color);
}

.posts {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.post {
  width: var(--post-width);
  /* height: var(--post-height); */
  margin: 16px;
  border-radius: 4px;
  box-shadow: 0 0 15px 4px rgb(226, 226, 226);
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: box-shadow 0.25s ease-in, transform 0.25s ease-in;
}

.post:hover {
  transform: translate(0, -5px);
  box-shadow: 0 0 15px 4px rgb(207, 207, 207);
}

.post__img-wrapper {
  height: 100%;
  width: 100%;
}

.post__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
}

.post__info-top {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 165px;
  flex: 1 1 0%;
}

.post__title-description .post__title {
  overflow: hidden;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

.post__description {
  font-size: 0.875rem;
  color: var(--grey-dark-color);
  overflow: hidden;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post__wrapper-date-comments {
  color: var(--grey-light-color);
  font-size: 0.75rem;
}
.post__date::after {
  content: " ·";
}

.post__info-bottom {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  border-top: 1px solid rgb(240, 240, 240);
}

.post__wrapper-writer {
  display: flex;
  align-items: center;
}

.post__writer-img {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  margin-right: 8px;
}

.post__writer-name {
  font-weight: bold;
}

.post__writer-name::before {
  content: "by ";
  color: var(--grey-light-color);
  font-weight: normal;
}

.post__wrapper-like {
  display: flex;
  align-items: center;
}

.post__like-icon {
  font-size: 0.8rem;
  margin-right: 8px;
}

@media screen and (max-width: 1042px) {
  .header,
  .nav,
  .posts {
    width: calc(100% - 2rem);
  }

  .post {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 753px) {
  .header,
  .nav,
  .posts {
    width: calc(100% - 2rem);
  }

  .post {
    width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 1010px) {
  .header__add-post {
    display: none;
  }
}
